@import "tailwindcss";

.orbit {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 50%;
  top: 50%;
  z-index: 20;
  pointer-events: none;
  animation: orbit 15s linear infinite;
  transform-origin: center center;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(140px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(140px) rotate(-360deg);
  }
}